@import "tailwindcss";

@theme {
  --color-primary: #16a34a;
  --color-primary-dark: #15803d;

  --color-secondary: #0F766E;

  --color-text: #111827;
  --color-muted: #6b7280;

  --color-background: #ffffff;
  --color-background-light: #f9fafb;

  --color-border: #e5e7eb;
}
